.gallery-root {
    margin-top: 1em;
}

.sidebar-tag-draggable {
    cursor: pointer;
    margin-left: 0.3em;
}

.sidebar-taglist {
    overflow: auto; /* scrollbar if needed, also requires set height/width to work */
}

.details-tag, .sidebar-tag-draggable {
    padding-left: 0.1em;
    padding-right: 0.1em;

    border-radius: 10%;
    border-width: 1pt;
    border-style: solid;

    border-color: #999;
    background-color: #EEE;
}

.details-tag {
    cursor: pointer;
    margin: 0.2em;
}

.gallery-list {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    overflow: auto; /* scrollbar if needed, also requires set height/width to work */
}

@media only screen and (min-width: 576px) {
    .gallery-list {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 768px) {
    .gallery-list {
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen and (min-width: 960px) {
    .gallery-list {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.gallery-item {

}

.gallery-item img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-bottom: 0.3em;
}

.gallery-item input {
    margin: 0.3em;
}

.badge-bg-yellow, .badge-bg-green {
    border-radius: 30%;
    border-width: 1pt;
    border-style: solid;
}

.badge-bg-yellow {
    border-color: #996;
    background-color: #CC9;
}

.badge-bg-green {
    border-color: #696;
    background-color: #9C9;
}

.shopcart-item {
    margin-bottom: 0.2em;
}

